@use '/src/shared/scss/shared.scss' as *;

.CommandsListWrapper {
    align-items: flex-start;
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    width: 100%;
}
