$main-dark-color: #021324;
$secondary-dark-color: #393e46;
$main-bright-color: #eee;
$main-accent-color: #00adb5;

$line-accent-color: #14df0d;
$disabled-color: #686868;

$success-color: #29dd3e;
$error-color: #ec2226;
